<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Send debug messages to System.out -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>E:\Project\Spring\ShoppingCart\logs\application.log</file>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy"
            >
            <fileNamePattern>
                <file>E:\Project\Spring\ShoppingCart\logs\application.log%i.zip</file>
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"
            >
            <maxFileSize>1KB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %magenta[%thread]%highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %magenta[%thread]%highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>